.createTaskForm {
  display: flex;
  gap: 0.5rem;

  height: 3.375rem;

  margin-top: -1.6875rem;
}

.createTaskForm input {
  background-color: rgb(var(--gray-500));
  color: rgb(var(--gray-100));

  border: 1px solid rgb(var(--gray-700));
  border-radius: 8px;

  padding: 1rem;
  flex: 1;
}

.submitButton {
  background-color: rgb(var(--blue-dark));
  color: rgb(var(--gray-100));

  border-radius: 8px;
  border: none;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 1rem;

  transition: color 0.1s;
}

.submitButton span {
  font-size: 0.875rem;
  font-weight: bold;
}

.submitButton svg {
  width: 1rem;
  height: 1rem;
}

.submitButton:hover {
  background-color: rgb(var(--blue));
}

.submitButton:focus {
  box-shadow: 0 0 0 2px rgb(var(--purple));
}
